* body{
    margin: 0;
    padding: 0;;
}

.container {
    background-color: red;
    max-width: 1400px;
    margin: 0 auto;

}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}